
.bg-color-dark{
    background-color: black;
}

.bg-color-red{
    background-color: red;
}

.bg-color-white{
    background-color: white;
}

.bg-color-darkblue{
    background-color: rgb(16, 16, 29);
}